# This is an example .env file for the RAG Engine backend. Copy this file to .env and fill in the appropriate values.
DATABASE_URL=postgresql+asyncpg://user:password@host:port/dbname
SYNC_DATABASE_URL=postgresql+psycopg://user:password@host:port/dbname
REDIS_URL=rediss://default:token@host:port
#Whatever API you using
GROQ_API_KEY=gsk_your_groq_api_key_here


DB_USER=rag_user
DB_PASSWORD=your_secure_password
DB_NAME=rag_engine
